*{
  padding:0px;
  margin: opx;
}
.app {
  position: absolute;
  top:20px;
  right:40%;
  align-items: center;
 
}

.container {

  width : 300px;
  height: 250px;
  border: 6px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.container > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 200;
  padding: 10px;
}
.bulb {
  height: 50px;
  width: 50px;
  background-color: gray;
  border-radius: 50%;

  border-color: black;
  
}

.bttn {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  padding: 10px;
  border-color: black;
  color: black;
  font-size:medium;

}
